body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.background {
  background-color: rgb(235, 235, 235);
}

.App {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

/*#region TYPO */
p {
  margin: 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 100;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}
/*#endregion TYPO */

/*#region TOP SEARCH INPUT */

.topSearch {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 1rem;
  margin-bottom: 0.7rem;
}

input {
  display: block;
}

input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.inputStyle {
  border: none;
  width: 100%;
  border-bottom: solid 1px rgb(196, 196, 196);
  font-size: 1.3rem;
  padding: 0.9em 0.7em 0.4em 0;
}
/*#endregion TOP SEARCH INPUT*/

/*#region MAIN CONTENT */
.container {
  height: 100vh;
  overflow: auto;
}

.add {
  border: none;
  background-color: white;
  font-size: 4rem;
  color: darkgray;
}

.addTag {
  max-width: 12rem;
  font-size: 1.125rem;
}

.student-layout {
  display: flex;
  justify-content: space-between;
  margin-right: 0.3rem;
}

.student {
  display: flex;
}

.portrait {
  margin: 0.8rem;
  width: 6.5rem;
  border: solid 1px lightgray;
  border-radius: 100%;
}

.student-info {
  width: 50%;
}

.student-email {
  word-break: break-all;
}

#line {
  border-bottom: solid 1px lightgray;
  margin: 1rem 0.5rem;
}

#test-result {
  margin-top: 1vh;
}

.tagsContainer {
  display: flex;
}

.tagStyle {
  background-color: lightgray;
  border-radius: 5px;
  font-size: 1.125rem;
  margin: 0.5rem 0.2rem 0 0.2rem;
  padding: 0.2rem 0.5rem;
}
/*#endregion MAIN CONTENT */

@media (min-width: 500px) {
  .student-info {
    width: 100%;
  }

  .student-email {
    word-break: normal;
  }
}

@media screen and (min-width: 800px) {
  .App {
    max-width: 800px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .background {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .portrait {
    width: 8rem;
  }
}
